.footer {
  font-size: 0.75rem;
  font-weight: bold;

  > * {
    display: inline;
    opacity: 0.5;
  }

  a {
    color: cornflowerblue;

    &:hover {
      opacity: 0.75;
    }
  }
}

@media screen and (orientation: portrait) {
  .footer {
    font-size: 0.7rem;
  }
}
