.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
  min-height: 100vh;
  gap: 1rem;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 4rem;
  width: 100%;
  gap: 2rem;
}

.title {
  font-size: 3rem;
}

.gameSection {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  gap: 0.5rem;

  p {
    font-size: min(1rem, 3.5vw);
  }

  .actions,
  .roll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 1rem;
    gap: 1rem;

    > * {
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
    }
  }

  .roll .modId {
    background-color: white;
    color: black;
    text-align: center;
    flex: 1;
    user-select: none;
  }

  button {
    color: white;
    font-weight: bold;
    border: none;
    flex: 2;
    background-color: hsl(240, 100%, 50%);

    &:hover {
      cursor: pointer;
      background-color: hsl(240, 100%, 40%);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background-color: hsl(240, 100%, 50%);
      }
    }
  }

  .error {
    color: red;
  }
}

.flexRow {
  user-select: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .main {
    padding: 2rem 3rem;

    .center {
      flex-direction: column;

      img {
        width: auto;
        height: auto;
      }
    }

    .title {
      font-size: 2rem;
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
